body {
  height: 100vh;
  animation: gradient 4s ease infinite;
  background-image: linear-gradient(135deg, #3f5efb, #fc466b);
  background-size: 400% 400%;
  height: 100%;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}